<style>
  html, body {
    margin: 0;
    padding: 0;
  }

  button {
    display: inline-block;
  }

  .card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 10px);
    margin: 5px;
    box-sizing: border-box;
  }

  .blocked {
    color: red;
  }

  .visible {
    color: green;
  }

  .action {
    margin: 10px 0;
  }

  .address {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
  }

</style>

<h1>Admin Panel</h1>
{{#each allItems}}
  <div class="card">
    <div class="action">
      {{#if this.blocked}}
        <button onclick="removeFromBlacklist('{{this.id}}')">SHOW</button>
        <span class="blocked">BLACKLISTED</span>
      {{else}}
        <button onclick="addToBlacklist('{{this.id}}')">BLOCK</button>
        <span class="visible">VISIBLE</span>
      {{/if}}
    </div>
    <hr>
    <div class="address">
      <a href="{{this.url}}" target="_blank">{{this.url}}</a>
    </div>
    <hr>
    <div>{{this.title}}</div>
    <hr>
    <div class="address">{{this.sender}}</div>
  </div>
{{/each}}

<script type="text/javascript">
  function addToBlacklist (id) {
    fetch('/blacklist/api', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ id: id }),
    }).finally(() => window.location.reload());
  }

  function removeFromBlacklist (id) {
    fetch('/blacklist/api/' + window.encodeURIComponent(id), {
      method: 'DELETE',
    }).finally(() => window.location.reload());
  }
</script>
